.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Aqui farei uma uma explicação mais agrupadado CSS 
.App centraliza qualquer texto que tiver dentro de uma <div className="App">
.App-logo define o tamanho do logo e não deixa que ele seja clicável.
.App-header estiliza o cabeçalho principal da página, definindo a cor de fundo, altura mínima, alinhamento e tamanho da fonte.
.App-link estiliza os links dentro da aplicação, definindo a cor.

@media e @keyframes são usados para adicionar animações e estilos responsivos, porem, não foram utilizados neste projeto, pois preferi deixar com uma estética mais clean, deixei no código pois eera a ideia inicial.

*/